{% extends 'base.html' %}

{% block title %}Notas{% endblock %}
{% block content %}
<form method="GET" action="{{ url_for('notas') }}">
    <label for="filtro_aluno">Filtrar por aluno:</label>
    <input type="text" id="filtro_aluno" name="filtro_aluno" value="{{ request.args.get('filtro_aluno', '') }}"><br><br>
    <label for="filtro_nota">Filtrar por nota:</label>
    <input type="number" id="filtro_nota" name="filtro_nota" value="{{ request.args.get('filtro_nota', '') }}"><br><br>
    <input type="submit" value="Filtrar">
</form>
<br>
<table>
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas %}
        <tr>
            <td>{{ nota[0] }}</td>
            <td>{{ nota[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

